doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' sizes='192x192' href='/images/favicon.png')
  body
    block content
    block footer